@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

html {
  font-family: "Rubik", sans-serif;
}

/* .tooltip {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 3;
  left: 50%;
  margin-left: -60px;
} */
/* bottom: 150%; */
.tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

svg {
  border-radius: 50%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
